/* Place your CSS styles in this file */
body {
     background-image: url("begron2.jpeg");
background-attachment: fixed;     
  background-size:cover;

}

nav {
     background-color: #ffffff;
     display:flex;
     teks-align: center;
     justify-content: space-between;
     padding: 1rem 2 rem;
     width: 100%;
     font-family: times new roman;
     margin: auto;
}

nav ul {
     display: flex;
     gap:30rem;
     list-style:none;
     font-size:1.3rem;
     position: relative;
     width: 100%;
     padding: 0 20px;
}

nav ul li {
     float: center;
}

nav ul li:hover {
     background: #bd7198;
}

nav ul li:hover a {
     color: #000;
}

nav ul li a{
    text-decoration: none;
    color: black;
     display: block;
     padding: 25px
}

h1 {
    text-align: center;
    font-family:"sans-serif;"
    font-weight: bold;
    color: purple;
    
}

h2 {
    text-align: center;
    font-family:"sans-serif;"
    font-weight: bold;
    color: white;

    ul {list-style-type:none;
    font-size: larger;
    color:white;
    padding-left:12px;
    text-align: center;
    justify-content: space-between;
}

li {
     display: inline;
}

<p> {
     text-align: center;
     color: white;
     font-size: larger;
}


img {display: block;
    margin: auto;
    align-items: center;
}
