/* Place your CSS styles in this file */
body {
     background-image: url("img/begron1.jpg");
background-attachment: fixed;     
  background-size: cover;
}

h1 {
    text-align: center;
    font-family:"sans-serif;"
    font-weight: bold;
    color: purple;
    
}

    ul {list-style-type:none;
    font-size: larger;
    color:blue;
    padding-left:12px;
}

li {display:inline;
}


img{display:block;
    margin:auto;
}

p { 
    text-align: center;
    color: white;

}
